body {
  width: 1920px;
  height: 100vh;
  overflow: hidden;
  background-color: #171717;
  position: relative;
}

header {
  color: #fff;
}

header>.con {
  position: absolute;
  z-index: 100;
  top: 60px;
  left: 60px;
  width: 1800px;
  /* background-color: darkblue; */
}

header>.con>.logo {
  font-size: 24.2308px;
  line-height: 87.19%;
}

header>.con>ul>li {
  margin-left: 30px;
}

.home {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: darkblue; */
}


.home>.home__line-1 {
  position: absolute;
  width: 2202.91px;
  height: 0px;
  top: 500px;
  left: -120px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: rotate(26.71deg);
}

.home>.home__main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  height: 756px;
  /* border: 1px solid blanchedalmond; */
}

.home__main>.main__circle-1 {
  position: absolute;
  width: 666px;
  height: 666px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
}

.home__main>.main__txt-1 {
  position: absolute;
  top: 100px;
  left: 50px;
  /* font-size: 255.443px; */
  font-size: 200px;
  line-height: 87.19%;
  /* identical to box height, or 223px */
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.home__main>.main__txt-2 {
  position: absolute;
  bottom: 100px;
  right: -10px;
  /* font-size: 255.443px; */
  font-size: 200px;
  line-height: 87.19%;
  /* identical to box height, or 223px */
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
}


.home__main>.main__image-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home>.home__ele {
  width: 1800px;
  height: calc(100vh - 120px);
  margin: 0 auto;
  /* border: 10px solid red; */
  position: relative;
  margin-top: 60px;
  /* border: 4px solid rebeccapurple; */
}

.home>.home__ele>.ele__txt {
  position: absolute;
  left: -70px;
  top: 50%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 16.7442px;
  line-height: 20px;
  letter-spacing: 0.205em;
  color: #FFFFFF;
  transform: rotate(-90deg);
}

.home>.home__ele>.ele__txt-2 {
  left: auto;
  right: -55px;
  transform: rotate(90deg);
}

.home>.home__ele>.ele__title {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -20px;
}

.ele__title>.title__line {
  display: inline-block;
  width: 48px;
  height: 0px;
  border: 1px solid #FFFFFF;
}

.ele__title>span {

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.67em;
  color: #FFFFFF;
}

.ele__link {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  font-size: 16.7442px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.375em;
}

.ele__link > .link_1::after {
  content: "";
  display: block;
  margin: 0 30px;
  width: 1px;
  height: 15px;
  background-color: #fff;
  
}